{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<article>
</article>

<article>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
    <p>
		<post><a href="{{ .Permalink }}">{{ .Title }}</a></post>
		<br/>
		<span id="pubdate"> {{ .Date.Format "Jan 2, 2006" }}</span>
        {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </p>
 {{ end }}
</article>
{{ partial "footer.html" . }}
