<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    {{ with .Site.Params.description -}}
        <meta name="description" content="{{ . }}">
    {{ end -}}
    {{ template "_internal/opengraph.html" . -}}
    {{ with .Site.Params.author -}}
        <meta name="author" content="{{ . }}">
    {{ end -}}
    {{ range .AlternativeOutputFormats -}}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end -}}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
</head>
<body>
<header>
    <b>
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </b>
<nav>
    {{ range .Site.Menus.main }}
    <a href="{{ .URL | relURL }}">{{ .Name }}</a> |
    {{ end }}
    <a href="/index.xml">RSS</a>
    </nav>
</header>
<hr/>
